:root {
    --primary-background: #6a1b9a;
    --primary-light-background: #9c4dcc;
    --primary-dark-background: #38006b;
    --primary-color: white;

    --secondary-background: #303f9f;
    --secondary-light-background: #666ad1;
    --secondary-dark-background: #001970;
    --secondary-color: black;
}

body {
    background-color: var(--secondary-light-background);
    color: var(--primary-color);
}

.navbar {
    background-color: var(--primary-background);    
}

.navbar a {
    color: var(--primary-color);
}

.home {
	min-height: calc(100vh - 56px);
	background-color: rgba(0, 0, 0, 0.6);
    background-image: url('images/thanos.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: top;
}

.flex-cc {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t-align-center {
	text-align: center;
}